.env

*.pem

terraform/.terraform/
terraform/.terraform.lock.hcl

ansible/*.retry
ansible/*.log
ansible/__pycache__/


/workspace/
/build/
/target/
/tmp/
/dist/

.vscode/
.idea/
.DS_Store
Thumbs.db